@font-face {
   font-family: 'Oswald-Stencil';
   font-display: swap;
   src: url('file:///Users/jiangchengxi/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-03-03_091103/fonts/Oswald-Stencil/font.ttf');
}
